In [ ]:
# Task 1:

a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))

print(a_tuple[3][3])

400

In [ ]:
# Task 2:

old_tuple = (-10, 20, 30, 40)

new_tuple = old_tuple[2:-2]

print(new_tuple)

()

In [ ]:
# Task 3:

book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)

print("Size of the tuple is:", len(book_info))

for item in book_info:
    print(item)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [77]:
# Task 4:

book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

for item in book_info:
    
    catagory, book, vote = item
    
    print(book, "won the \'" + catagory + "\' catagory with", vote, "votes")

The Silent Patient won the 'Best Mystery & Thriller' catagory with 68821 votes
The Institute won the 'Best Horror' catagory with 75717 votes
The five won the 'Best History & Biography' catagory with 31783 votes
The Testaments won the 'Best Fiction' catagory with 98291 votes

In [ ]:
# Task 5:

given_tuple = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
count = 0
num = int(input("please enter a number; "))

for items in given_tuple:
    
    if (items == num):
        count += 1

print(num, "appears", count, "times in the tuple")

please enter a number; 8
8 appears 4 times in the tuple

In [1]:
# Task 6:

given_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

old_list = list(given_tuple)

new_list = []

index = -1

for iteration in range(len(old_list)):
    
    new_list.append(old_list[index])

    index = index - 1

print(tuple(new_list))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
# Task 7:

given_dic_1 = {'Harry':15, 'Draco':8, 'Nevil':19}
given_dic_2 = {'Ginie':18, 'Luna': 14}
marks = {}

for key,value in given_dic_1.items():
    marks[key] = value
    
for key,value in given_dic_2.items():
    marks[key] = value
    
print(marks)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [78]:
# Task 8:

input_dic = {}

total = 0
count = 0

num = int(input("How many items should be in the dictionary? "))

for iteration in range(num):
    
    key = input("Please enter the key: ")
    
    value = int(input("Please enter the value"))
    
    input_dic[key] = value
    
for value in input_dic.values():
    
    total += value
    count += 1
    
average = int(total / count)

print("Average is", average)

How many items should be in the dictionary? 3
Please enter the key: jon
Please enter the value100
Please enter the key: dan
Please enter the value200
Please enter the key: rob
Please enter the value300
Average is 200

In [2]:
# Task 9:

exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

new_dic = {}

user_input = int(input("Please enter a value: "))

for key,value in exam_marks.items():
    
    if (value >= user_input):
        
        new_dic[key] = value
        
print(new_dic)

Please enter a value: 190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [5]:
# Task 10:

given_dic = {'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}

max_cat = None

max_value = None

for cur_key,cur_value in given_dic.items():
    
    if (max_cat == None):
        
        max_cat = cur_key
        
        max_value = cur_value
        
    else:
        
        if (cur_value > max_value ):
            
            max_cat = cur_key
            
            max_value = cur_value

print("The highest selling book genre is \'" + max_cat + "\' and the number of books sold are", max_value)

The highest selling book genre is 'horror' and the number of books sold are 14

In [4]:
# Task 11 :

input_string = input("Please enter a string: ")

user_input = ""

for item in input_string:
    
    if (item != " "):
        
        user_input = user_input + item

user_input = user_input.lower()

new_dic = {}

for char in user_input:
    
    key = char
    
    if key not in new_dic:
        
        new_dic[key] = 1
    
    else:
        
        new_dic[key] =   new_dic[key] + 1
    
print(new_dic)

Please enter a string: Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [3]:
# Task 12 :

dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

count = 0

for value in dict_1.values():
    
    for item in value:
        
        count += 1
        
print(count)

9

In [13]:
# Task 13 :

list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

ans_dic ={}

for item in list_1:
    
    key, value = item
    
    if key not in ans_dic:
        
        ans_dic[key] = [value]
        
    else:
        
        ans_dic[key].append(value)
        
print(ans_dic)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [17]:
# Task 14:

var1 = var2 = var3 = var4 = var5 = var6 = False

result1 = result2 = result3 = result4 = result5 = result6 = result7 = result8 = result9 = result10 = False

var1 = 4 < 3 - 1

var2 = var1 and False

var3 = False

var4 = True

var5 = False

var6 = var3 and True

result1 = (var1 or var2) and (8 * 10 > 45)

result2 = (var1 or var2) and (result1 and False)

result3 = (var1 and result1) or result2

result4 = (var1 or var2) or ((var3 and var1) and False)

result5 = (var1 and var2) and (result3 or var1)

result6 = ((var3 or var2) and not result5) or True

result7 = (var4 and result1) and ((result1 and False) or True)

result8 = ((var1 and result3) and (var5 or var6)) and True

result9 = ((result2 and var2) or (result7 and var1)) and False

result10 = not(var1 and True)

print(result1)

print(result2)

print(result3)

print(result4)

print(result5)

print(result6)

print(result7)

print(result8)

print(result9)

print(result10)

False
False
False
False
False
True
False
False
False
True

In [18]:
# Task 15 :

var1 = False

var2 = False

var3 = False

var4 = False

var5 = False

var6 = False

result1 = False

result2 = False

result3 = False

result4 = False

result5 = False

result6 = False

result7 = False

result8 = False

result9 = False

result10 = False

var1 = ((not True) or True) and False

var2 = var1 and False

var3 = True and not False

var4 = False

var5 = True

var6 = var3 and False

result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)

result2 = (var1 or var2) or (result1 and False)

result3 = (var1 and result1) or result2 or var5

result4 = (var1 or var2) or ((var3 and var1) and False)

result5 = (var1 and var2) and (result3 or var1)

result6 = ((var3 or (not var2)) and (result5)) or True

result7 = (var4 and result1) and ((result1 and False) or True)

result8 = ((var1 and result3) and ((not var5) or var6)) and True

result9 = ((result2 and var2) or ((not result7) and var1)) and not False

result10 = not(var1 and True)

print(result1)

print(result2)

print(result3)

print(result4)

print(result5)

print(result6)

print(result7)

print(result8)

print(result9)

print(result10)

False
False
True
False
False
True
False
False
False
True

In [2]:
# Task 16 :

myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

index1 = 0

index2 = 0

index1 = 1

while(index1 < 10):

    myList[index1] = index1 + 4

    index2 = 1

    while(index2 < index1):

        myList[index1] = myList[index1] + myList[index2] - index1

        index2 = index2 + 1

    print(myList[index1])

    index1 = index1 + 1

5
9
15
25
43
77
143
273
531

In [4]:
# Task 17 :

myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

index1 = 0

index2 = 0

index1 = 1

while(index1 < 10):

    myList[index1] = index1 + 4

    index2 = 1
    
    while(index2 < index1):

        myList[index1] = myList[index1-1] - myList[index2-1] - index1

        index2 = index2 + 1

    print(myList[index1])

    index1 = index1 + 1

5
3
-5
-12
-12
-6
-1
-3
-11

In [87]:
# Task 18 :

myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

b = []

index1 = 0

index2 = 0

index1 = 1

b = myList

while(index1<10):

    myList[index1] = index1+2
    
    index2 = 1
    
    while(index2<index1):
        
        myList[index1] = b[index1]+myList[index2]-index1
        
        index2 = index2+1
        
    print(myList[index1])
        
    index1 = index1+1

3
5
7
9
11
13
15
17
19

In [6]:
# Task 19 :

myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

b = []

index1 = 0

index2 = 0

index1 = 1

b = myList

while (index1 < 10):

    myList[index1] = index1 + 1

    index2 = 1

    while (index2 < index1):

        myList[index1] = b[index2-1] + myList[index2] - index1

        index2 = index2 + 1

    print(myList[index1])

    index1 = index1 + 1

2
0
-1
-5
-11
-22
-40
-70
-119

In [8]:
# Task 20 :

given_list = [(11, 22), (33, 55), (55, 77), (11, 44)]

ans_list = []

for item in given_list:
    
    num1, num2 = item
    
    ans = num1 * num2
    
    ans_list.append(ans)
    
print(ans_list)

[242, 1815, 4235, 484]

In [10]:
#Task 21 :

a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])

user_input = input("Please enter an input: ")

for item in a_tuple:
    
    item[2] = user_input
    
print(a_tuple)

Please enter an input: 1000
([1, 2, '1000'], [4, 5, '1000'], [7, 8, '1000'], [10, 11, '1000'])

In [23]:
# Task 22 :

my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}

new_dic = {}

for key,value in my_dictionary.items():
    
    if (value != None):
        
        new_dic[key] = value
        
print(new_dic)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

In [31]:
# Task 23 :

dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}

new_dic = {}

num1, num2 = input("Please enter the range: ").split(",")

for key,value in dict_1.items():
    
    if (value >= int(num1) and value < int(num2)):
        
        new_dic[key] = value
        
print(new_dic)

Please enter the range: 14,18
{}

In [33]:
# Task 24 :

given_list = [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]

new_dic = {}

for item in given_list:
    
    if item[1] not in new_dic:
        
        new_dic[item[1]] = [item]
        
    else:
        
        new_dic[item[1]].append(item)
        
print(new_dic)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

In [75]:
# Task 25 :

input_1 = 'I love Programming.Python is love'

input_2 = ['@', '$', '&', '#']

sent = input_1.split(".")

total_words = []

for item in sent:
    
    words = item.split(" ")
    
    total_words.extend(words)
    
print("Words in given string:", total_words)

ans_dic = {}

for word in total_words:
    
    asci_sum = 0
    
    for char in word:
        
        asci_sum += ord(char)
        
    index = (asci_sum % len(input_2))
        
    key = input_2[index]
        
    if key not in ans_dic:
            
        ans_dic[key] = []
            
        ans_dic[key].append(word)
            
    else:
            
        if word not in ans_dic[key]:
            
            ans_dic[key].append(word)
                
print("Answer:", ans_dic)

Words in given string: ['I', 'love', 'Programming', 'Python', 'is', 'love']
Answer: {'$': ['I'], '&': ['love', 'Python'], '#': ['Programming'], '@': ['is']}